{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "jsx": true
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "react/prop-types": "off"
  }
}